## Prohibit the automatic placement of pins that are connected to VCC or GND for configuration.
CONFIG PROHIBIT=P99;
CONFIG PROHIBIT=P43;
CONFIG PROHIBIT=P42;
CONFIG PROHIBIT=P39;
CONFIG PROHIBIT=P49;
CONFIG PROHIBIT=P48;
CONFIG PROHIBIT=P47;
CONFIG PART=XC3S500E-VQ100-4;

# Clock
NET "CLK_32MHZ" LOC = "P89" | IOSTANDARD = LVCMOS25 | PERIOD=31.25ns;

# Reset
NET "BTN_RESET" LOC="P67"  | IOSTANDARD=LVTTL | PULLDOWN;

# Joystick
NET "BTN_UP"      LOC="P54"  | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST;
NET "BTN_DOWN"    LOC="P41"  | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST;
NET "BTN_LEFT"    LOC="P58"  | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST;
NET "BTN_RIGHT"   LOC="P36"  | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST;

# LEDs
NET "LED(3)"      LOC="P35"  | IOSTANDARD=LVTTL;                                # A4
NET "LED(2)"      LOC="P40"  | IOSTANDARD=LVTTL;                                # A5
NET "LED(1)"      LOC="P53"  | IOSTANDARD=LVTTL;                                # A6
NET "LED(0)"      LOC="P57"  | IOSTANDARD=LVTTL;                                # A7

# VGA
NET "VGA_R<0>"    LOC = "P61" | IOSTANDARD=LVTTL;
NET "VGA_R<1>"    LOC = "P58" | IOSTANDARD=LVTTL;
NET "VGA_R<2>"    LOC = "P54" | IOSTANDARD=LVTTL;
NET "VGA_G<0>"    LOC = "P68" | IOSTANDARD=LVTTL;
NET "VGA_G<1>"    LOC = "P66" | IOSTANDARD=LVTTL;
NET "VGA_G<2>"    LOC = "P63" | IOSTANDARD=LVTTL;
NET "VGA_B<0>"    LOC = "P78" | IOSTANDARD=LVTTL;
NET "VGA_B<1>"    LOC = "P71" | IOSTANDARD=LVTTL;
NET "VGA_VSYNC"   LOC = "P94" | IOSTANDARD=LVTTL;
NET "VGA_HSYNC"   LOC = "P95" | IOSTANDARD=LVTTL;
